.vscode/
__pycache__/
.DS_Store
biofts/interaction_matrices
biofts/interaction_scale_functions.py
data/
example_model_2_HP.py
polyampholyte_cluster.py
polyampholyte_cluster_analyse_data.py
example_model_3_block_copolymer.py
biofts.egg-info/